#vehiclePlateKeyboard {
  .vehicle-plate-keyboard-container {
    position: fixed;
    z-index: 9999;
    min-height: 276px;
    background-color: #e8e9eb;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif;

    & * {
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      outline: none;
    }

    & *:not(input, textarea) {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
    }

    .confirm {
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;

      p {
        font-size: 14px;
        color: #333333;
      }
    }

    .confirm:active {
      opacity: 0.5;
    }

    .keyboard {
      height: 232px;
      padding-bottom: 10px;
      background-color: #e8e9eb;
      display: flex;
      justify-content: center;
      align-items: center;

      .keyboard-container {
        display: flex;
        flex-direction: column;

        .keyboard-row {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .keyboard-cell {
          display: flex;
          background-color: white;
          border-radius: 4px;
          justify-content: center;
          align-items: center;

          .cell-text {
            font-size: 16px;
            color: #333333;
          }
        }

        .keyboard-cell:active {
          background-color: #b3b7bf;
        }

        .normal-cell {
          width: 32px;
          height: 36px;
          margin: 4px 2.5px;
        }

        .province-cell {
          width: 40px;
          height: 44px;
          margin: 5px 3px;
        }

        .character-cell {
          width: 54px;
          height: 36px;
          margin: 4px 2px;
        }

        .cell-disabled {
          &:active {
            background-color: white;
          }

          opacity: 0.4;
        }

        .back-btn {
          width: 74px;
          height: 36px;
          margin-left: 2px;

          .back-btn-svg {
            width: 24px;
            height: 18px;
            line-height: 18px;
            padding-right: 6px;
            font-size: 24px;
          }
        }
      }
    }
    .iphoneX {
      padding-bottom: 34px;
    }
  }
}